body{
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-size: cover;
  background-color: #424549;
}
#container{
  padding-top: 20px;
  display: inline-block;
  width: 100%;
  height: 100px;
}
#icon{
  height: 50px;
  margin: 0%;
  display: inline;
  padding-bottom: 20px;
  margin-bottom: 20px;
  vertical-align: top;
}
#search{
  display: inline-block;
  margin-left: 8%;
  padding-top: 10px;
}
::placeholder { 
  color: black;
  opacity: 1;
}
#search-text{
  font-family: Dosis;
  height: 42px;
  width: 200px;
  padding: 0%;
  font-size: 18px;
  display: inline;
  padding-right: 10px;
  border: 1px solid #FFF;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;  
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  color: black;
  padding-left: 10px;
  font-weight: bold;
}
::placeholder { 
  color: black;
  opacity: 1;
font-weight: normal;
}
#search-button{
  position: absolute;
  border: transparent;
  display: inline;
  background-color: #8098ed;
  color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 24px;
  width: 54px;
  height: 45px;
  padding-left: 5px;
}
#search-button:hover{
  cursor: pointer;
  background-color: #5a6db0;
}
a{
font-weight: bolder;
  color: #7289da	;
  font-family: Dosis;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  margin-left: 50px ;
}
a:hover{
  color: white;
}
#dropbtn {
  color: #7289da	;
  font-family: Dosis;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  margin-left: 65px ;
  padding-bottom: 2px;
  margin-bottom: 2px;
}
#dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-content {
  font-size: 20px;
  display: none;
  position: absolute;
  background-color: 	#343b42	;
  color: white;
  border-radius: 50px;
}

#dropdown-content a {
  text-decoration: none;
  padding-top: 10px;
  display: block;
  padding-right: 20px;
}

#dropdown-content a:hover {background-color: transparent; color: white;}

#dropdown:hover #dropdown-content {
  display: block;
}

#dropdown:hover #dropbtn {
  color: white;
}
button{
  width: 50px;
  height: 50px;
  background-color: white;
}
h2{
    position:absolute;
    bottom:1px;
    display: block;
    margin-left: 40%;
    font-family: Dosis;
  }    
h1{
  color: #7289da	;
  font-size: 20px;
  font-family: Dosis;
  text-align: center;
  }  
span{
    padding-left: 2px;
    padding-right: 2px;
    font-size: 16px;
  }  
#contact{
  display: inline-block;
  white-space: nowrap;
}
#e-i{
  margin-left: 77px;
  width: 50px;
  height: 50px;
  display: inline-block;
}
#d-i{
  margin-left: 82px;
  width: 50px;
  height: 50px;
  display: inline-block;
}
#t-i{
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-left: 85px;
}
h3{
  display: inline-block;
  color: #7289da	;
  font-size: 20px;
  font-family: Dosis;
  text-align: center;
}
#discord{
  border-radius: 50px;
  width: 216px;
  margin-top: 100px; 
  display: inline-block;
  margin-left: 16%;
  background-color: #343b42;
  padding: 20px;
}
#email{
  border-radius: 50px;
  width: 216px;
  margin-top: 100px; 
  display: inline-block;
  margin-left: 3%;
  background-color: #343b42;
  padding: 20px;
}
#twitter{
  border-radius: 50px;
  width: 216px;
  margin-top: 100px; 
  display: inline-block;
  margin-left: 18%;
  background-color: #343b42;
  padding: 20px;
}
#d-t{
  margin-left: 40px;
}
#t-t{
  margin-left: 67px;
}